/* styles.css */
/* Global CSS */
@font-face {
    font-family: "ArticulatCF";
    src: url("http://localhost:3000/font/ArticulatCF-Regular.woff2")
      format("woff");
  }
  
  @font-face {
    font-family: "ArticulatCF";
    src: url("http://localhost:3000/font/ArticulatCF-Bold.woff") format("woff"),
      url("http://localhost:3000/font/ArticulatCF-Regular.woff2") format("woff2"),
      url("http://localhost:3000/articulat-cf-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  body {
    margin: 0px;
    padding: 0px;
    font-family: "ArticulatCF", Arial, Helvetica, sans-serif;
    color: #000;
    font-size:12px;
  }
  
  /* Styling for the active menu item */
  .menu li.active a {
  color: #ff0000; /* Change to your desired color */
  font-weight: bold; /* Optional: Highlight the active item with bold text */
  }



  header {
    background-color: #333;
    padding: 10px;
  }
  
  nav {
    text-align: center;
  }
  
  ul.menu {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 280px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  /* style.css */

#user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#user-table th, #user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#user-table th {
  background-color: #f2f2f2;
}

#user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#user-table tbody tr:hover {
  background-color: #d9d9d9;
}

.green {
  color: #6F732F;
}

.red {
  color: red;
}
.kuid-color{
  color:#B0B3A8;
  font-size: 10px;
}